#caixacalendar{
    background-color: rgb(75, 206, 211);
    width: 100%;
    height: 645px;
    margin:0 auto;
    
    
}

.planamig{width: 800px;
        background-color: chartreuse;
        height: 100%;
       ;
        margin:0px auto;
        border:1px solid black;
        
        
        
        
        }

.planamigcentrada{margin:0 auto;
                display: flex;
                flex-wrap: wrap;
                border:1px solid black;
                width: 100%;
                
                box-sizing: border-box}

.serveis{background-color: white;
            width: 170px;
        position: relative;
        float: left;
         margin:13px ;
         border:1px solid black;
        padding:10px;
        box-sizing: border-box;
        }

.serveis img{width:90%;
            display: block;
               margin:0px 5px;}
@media screen and (max-width:850px) {
    .planamigcentrada{width: }
}

#caixabotons{
    background-color: rgb(75, 211, 120);
    width: 100%;
    height: 245px;
    margin:0 auto;
    padding:30px 0;
    
    
}
#nextstep{width:100%;
        background-color:red;  
        color:white;      
    }

    .nextstep{width:250px;
    height:40px;
    background-color:rgb(197, 194, 197);
    position: relative;
    float:left; 
    border:1px solid black;

    }

    #caixavisit{margin:0 22px;}